body{
    background-color: blanchedalmond;
}

:checked + label{
    text-decoration: line-through;
    color: gray;
}

.flex-container{
    display: flex;
    margin: 10px;
}

.flex-item{
    margin-right: 25px;
}

.flex-container-inner{
    display: flex;
}

span{
    font-weight: bold;
}


.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.box{
    background-color: rgb(206, 205, 205);
    border-radius: 10px;
    padding: 10px;
}

.active{
    font-weight: bolder;
}

.card{
    background-color: rgb(241, 241, 241);
}

input[type=text], input[type=time], input[type=number]{
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}


@media (max-width: 800px){
    input[type=text], input[type=time], input[type=number]{
        width: 100%;
        margin:10px;
        border-radius: 10px;
        padding: 5px 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }
}